@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url(./assets/fonts/file1.woff2);
}
@font-face {
  font-family: anzo2;
  src: url(./assets/fonts/file2.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(./assets/fonts/file3.woff2);
}
@font-face {
  font-family: anzo4;
  src: url(./assets/fonts/file4.woff2);
}
@font-face {
  font-family: anzo5;
  src: url(./assets/fonts/file5.woff2);
}
@font-face {
  font-family: anzo6;
  src: url(./assets/fonts/madefor-text.var.original.woff2);
}

html,
body {
  color: #f0f0f0;
}
#tiltDiv{
 
  width: fit-content;
 
}
#home-inner{
  position: relative;
  perspective: 1500px;
}